# Root Docker Ignore
**/node_modules
**/dist
**/.angular
**/.git
**/.gitignore
**/.env
**/.env.*
**/pgdata
**/tests
**/*.spec.ts
**/*.test.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Exclude 60MB Design Assets from Docker context & Render build
design/
*.penpot
